Repository nichelicorn/whats-cookin, pull requests merged in 2021-05, with the labels that each got.

#58 Feature/ingredient test
  src/classes/Ingredient.js
  test/Ingredient-test.js
Labels: Ingredient, TDD, data model, iteration 1

#59 Feature/recipe test
  src/classes/Recipe.js
  test/Recipe-test.js
Labels: Recipe, TDD, data model, documentation, iteration 1

#61 Feature/testing users
  package-lock.json
  src/classes/User.js
  test/User-test.js
Labels: Iteration 2, User, data model

#62 Feature/ingredient build class
  src/classes/Ingredient.js
  test/Ingredient-test.js
  test/User-test.js
Labels: Ingredient, data model, documentation, iteration 1

#63 Feature/cookbook tests
  src/apiCalls.js
  src/classes/Cookbook.js
  src/data/users.js
  src/index.html
  src/styles.css
  test/Cookbook-test.js
  test/Ingredient-test.js
  test/Recipe-test.js
  test/RecipeRepository-test.js
  test/test-data.js
Labels: RecipeRepository, data model, documentation, iteration 1

#64 Feature/create html
  src/index.html
Labels: DOM, html

#65 Feature/recipe implementation
  src/classes/Ingredient.js
  src/classes/Recipe.js
  src/data/ingredients.js
  test/Ingredient-test.js
  test/Recipe-test.js
Labels: Recipe, TDD, data model, iteration 1

#66 Feature/user class
  src/classes/Recipe.js
  src/classes/User.js
  src/data/users.js
  test/Ingredient-test.js
  test/Recipe-test.js
  test/User-test.js
Labels: Iteration 2, User, data model

#67 Feature/cookbook
  src/classes/Cookbook.js
  test/Cookbook-test.js
Labels: RecipeRepository, data model, documentation, iteration 1

#68 Feature/cookbook class
  src/classes/Cookbook.js
  src/classes/Recipe.js
  src/classes/User.js
  test/Cookbook-test.js
  test/Ingredient-test.js
  test/Recipe-test.js
  test/User-test.js
  test/test-data.js
Labels: Recipe, RecipeRepository, User, data model, iteration 1

#71 Feature/css
  src/index.html
  src/styles.css
Labels: DOM, enhancement, html, styles, user stories, ux/ui

#72 Feature/css
  src/index.html
  src/styles.css
Labels: DOM, html, styles, user stories

#73 Feature/css
  src/index.html
  src/styles.css
Labels: DOM, html, styles, user stories

#75 Feature/dom
  src/apiCalls.js
  src/classes/Ingredient.js
  src/classes/User.js
  src/data/recipes.js
  src/data/users.js
  src/index.html
  src/scripts.js
  src/styles.css
Labels: Iteration 2, fetch calls, iteration 1, iteration 3

#76 Feature/css
  src/index.html
  src/scripts.js
  src/styles.css
Labels: DOM, html, styles, user stories, ux/ui

#77 Feature/dom part2
  src/index.html
  src/scripts.js
  src/styles.css
Labels: DOM, iteration 1, search and filter

#78 Feature/media queries
  src/index.html
  src/styles.css
Labels: DOM, html, styles, user stories, ux/ui

#79 Feature/dom part 3
  src/apiCalls.js
  src/classes/Recipe.js
  src/scripts.js
Labels: DOM, iteration 1, search and filter

#80 Feature/media queries
  src/index.html
  src/scripts.js
  src/styles.css
Labels: DOM, html, styles, user stories, ux/ui

#81 Feature/refactoring
  src/index.html
  src/scripts.js
  src/styles.css
Labels: DOM, html, iteration 1, styles

#82 ✨Update README
  README.md
Labels: documentation, enhancement
